.car-card {
  width: 320px;
  background: #1b1b1b;
  border-radius: 20px;
  overflow: hidden;
  margin: 50px auto;

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);

  transition: 0.3s;
}

.car-card:hover {
  transform: translateY(-10px);
}

.car-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.car-card h2 {
  color: white;
  padding: 15px;
}

.type {
  color: #bdbdbd;
  padding: 0 15px;
}

.car-card h3 {
  color: gold;
  padding: 15px;
}

.car-card button {
  margin: 15px;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  background: gold;
  cursor: pointer;
  font-weight: bold;
}

.car-card button:hover {
  background: orange;
}