/* hero style */
@media (max-width: 768px) {

  .hero-content h1 {
    font-size: 50px;
    line-height: 1.1;
  }

  .hero-content p {
    font-size: 20px;
    padding: 0 20px;
  }

  .hero-content button {
    width: 220px;
    padding: 15px;
  }

}

.hero{
 
  height: 100vh;
  background-image: url("/car.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;



   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

}
.hero h1{
  color: white;
  font-size: 60px;
  margin-bottom: 20px;

}
.hero p{
  color:#cfcfcf ;
  font-size: 20px;
  margin-bottom: 30px;

}

.hero button{
  padding: 15px 35px;
  font-size: 18px;

  background:#da0303;
  border: none;
  border-radius: 8px;

  cursor: pointer;
  transform: 0.3s;
}

.hero button:hover{
  transform: scale(1.05);
  
}


/* ovely class */

