.navbar {
  background-color: #1e0202;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;
}

.logo {
  color: gold;
  font-size: 30px;
}

.nav-links {
  display: flex;
  gap: 30px;

  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;

  transition: 0.3s;
}

.nav-links a:hover {
  color: rgb(238, 19, 12);
}