.navbar {
  position: sticky;
  top: 0;

  z-index: 1000;

  background: rgba(17, 17, 17, 0.9);

  backdrop-filter: blur(10px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;
}

.logo {
  color: gold;
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: gold;
}
@media (max-width: 768px) {

  .navbar {
    padding: 15px;
  }

  .logo {
    font-size: 35px;
  }

  .nav-links {
    gap: 15px;
    font-size: 16px;
  }

}